@page "/"
@inject web.Services.YoyoTimer YoyoTimer

<h3>Dasboard</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="circle">
            @if (Started)
            {
                <div id="stats">
                    <div class="mt-3">
                        Level 12
                    </div>
                    <div>
                        Shuttle 2
                    </div>
                    <div>
                        @Count
                    </div>
                </div>
            }
            else
            {
                <button id="playButton" class="mt-4 ml-5 oi oi-media-play" @onclick="Start">
                </button>
            }

            </div>
        </div>
    </div>

    @code {
    public bool Started { get; set; } = false;
    private int Count { get; set; } = 0;

    private void Start()
    {
        YoyoTimer.SetTimer(1000, true);
        YoyoTimer.OnElapsed += async delegate
        {
            await RefreshStats();
        };
        Started = true;
    }

    private async Task RefreshStats()
    {
        Count++;
        await InvokeAsync(StateHasChanged);
    }

}
